.button {
    height: 38px;
    border: none;
    border-radius: 3px;
    color: #fff;
    outline: none;
    font-size: 0.85em;
    padding: 8px 18px 6px 18px;
    opacity: 1;
    cursor: pointer;
}

.button:hover {
    opacity: 0.9;
}

@import "./app.css";
@import "./content.css";
